.header__square-pic {
    height: 568px;
    width: 568px;
    background: #2f80ed;
    position: absolute;
    right: 0;
    top: 64px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-animation: rotation 20s linear infinite;
    animation: rotation 20s linear infinite;
}