.resources__link {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 270px;
    height: 38px;
}


/* Pseudo classes - псевдоклассы */

.resources__link:hover {
    -webkit-box-shadow: 1px 3px 15px grey;
    box-shadow: 1px 3px 15px grey;
    border: 3px solid grey;
    border-radius: 20px;
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
    -webkit-transition: -webkit-transform 1s ease, -webkit-filter .6s linear;
    transition: -webkit-transform 1s ease, -webkit-filter .6s linear;
    -o-transition: transform 1s ease, filter .6s linear;
    transition: transform 1s ease, filter .6s linear;
    transition: transform 1s ease, filter .6s linear, -webkit-transform 1s ease, -webkit-filter .6s linear;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}