.resources__link {
    box-sizing: border-box;
    display: block;
    width: 270px;
    height: 38px;
}

/* Pseudo classes - псевдоклассы */
.resources__link:hover {
    box-shadow: 1px 3px 15px grey;
    border: 3px solid grey;
    border-radius: 20px;
    transform: rotateY(360deg);
    transition: transform 1s ease, filter .6s linear;
    filter: invert(100%);
    }